.checkout-product {
    display: flex;
    margin: 20px 0 20px 0;
    padding: 10px;
}

.checkout-product-info {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.checkout-product-remove {
    background-color: black;
    color: white;
    font-size: 15px;
    padding: 10px 20px;
    border-radius: 5px;
    margin: 5px 0px;
    cursor: pointer;
}

.checkout-product-image {
    object-fit: contain;
    width: 30%;
  }

.checkout-product-rating {
    display: flex;
  }

.checkout-product-title {
    font-size: 1em;
}

.checkout-product-remove-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.checkout-product-remove {
    width: 60%;
}