.header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #131921;
  position: sticky;
  top: 0;
  z-index: 100;
  padding: 0 .5em 0 .5em;
}

.header-title {
  width: 30%;
}

.header-no-underline {
  text-decoration: none;
}

.header-logo {
  color: white;
}

.header-optionLineOne {
  font-size: 10px;
}

.header-optionLineTwo {
  font-size: 13px;
  font-weight: 800;
}

.header-optionBasket {
  display: flex;
  align-items: center;
  color: white;
}

.header-basketCount {
  margin-left: 10px;
  margin-right: 10px;
}

.header-nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.header-option {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  text-align: center;
}
